@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Oately';
      font-style: bold;
      font-weight: 800;
      font-display: swap;
      src: url('./assets/Oately-Bold.woff2') format('woff2');
    }
  }